.bodydark {
  background-color: #181818;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.bodylight {
  background-color: white;
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.optionlight {
  cursor: pointer;
  border:solid;
  background-color: white;
  border-color:black;
  border-radius: 20px;
  color:black;
  text-align:center;
  outline: none;
}

.optiondark {
  cursor: pointer;
  border:solid;
  background-color: #181818;
  border-color:white;
  border-radius: 20px;
  color:white;
  text-align:center;
  outline: none;
}

.inputdark{
  border:solid;
  background-color: #181818;
  border-color:white;
  border-radius: 20px;
  color:white;
  text-align:center;
  margin-top:1%;
  font-size:130%;
  outline: none;
}

.inputlight{
  border:solid;
  background-color: white;
  border-color:black;
  border-radius: 20px;
  color:black;
  text-align:center;
  margin-top:1%;
  font-size:130%;
  outline: none;
}

.buttondark {
  cursor: pointer;
  border:solid;
  background-color: #181818;
  border-color:white;
  border-radius: 20px;
  color:white;
  text-align:center;
  outline: none;
  margin-top: 1%;
  font-size:120%;
}

.buttonlight {
  cursor: pointer;
  border:solid;
  background-color:white;
  border-color:black;
  border-radius: 20px;
  color:black;
  text-align:center;
  outline: none;
  margin-top: 1%;
  font-size:120%;
}

.bottom {
  position: fixed;
  bottom:0px;
  width: 100%;
  text-align: center;
}

td {
  padding:10px;
  border: 1;
  border:solid;
  text-align:center;
  width:33.33%;
  border-radius: 20px;
}

table {
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  width:auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
